*{box-sizing: border-box}

header { max-width: 25%;
  float: left; }

h1 {font-size: 3rem;
    color: mediumpurple;
    text-align: center;
    font-family:"arial", sans-serif;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
nav li {
    display: inline;
    list-style:none; 
    padding-top: 15px; 
    padding-right: 20px; 
    padding-left: 20px; 
    padding-bottom: 1rem;
    margin-bottom: -1rem;
    margin-top:1rem;
    margin-right:auto;
    margin-left: auto;
    border-bottom: 1rem;  
    text-align: center; 
    background-color: mediumpurple;
}

a: link {
    text-decoration: none;
    padding-left: 2rem; 
    text-align: center; 
    color:white;
}
ul {
    list-style-type: none;
    margin: 2rem;
    padding: 1rem;
    text-decoration: none;
}
li {float: left; 
        padding-right: 25px;
        border: 10rem; 
        border-style:grove;
        margin: 2rem;
        font-family: "verdana", sans-serif;
        background-color:mediumpurple;
        list-style-type: none;
        text-decoration: none;
        display: inline;
        }

section { float: left; 
          width: 15%;
          height: 450px;
          background: #DDBBFF; 
          clear: both;}

section p {
          padding-top: 1rem;
          padding-bottom: 2em;
          margin-right: 2rem; 
          border-top: 3rem; 
          color: white;
          text-align: center; 
          font-family: "arial", sans-serif
}
article { float: none;
          padding:1rem; 
          margin-bottom: 3rem;
          height: 450px;
          font-family: "arial", sans-serif;
          background:#F2F2F2;
          color:gray;
          align-items: center;
}

img {
  display:block;
  margin-left: auto;
  margin-right: auto;
}

article p {
  border-height: 3rem; 
  margin-left: 5rem;
  margin-right: 5rem; 
  margin-top;5rem;
  text-align:center;
  font-size: 13px
}

footer a {float:left;
  display:block;
  margin-left: auto;
}



  
  